@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

/* imported google font */

html,
body {
 height: 100%;
 width: 100%;
 font-family: "Poppins", sans-serif;
 color: #1d1c1c;
 background-color: whitesmoke;
}

/* padding fix */

.padding {
 padding-bottom: 2rem;
}

/* Navbar customisation */

.navbar {
 padding: 0.8rem;
 padding-bottom: 0;
 padding-top: 0;
}

.navbar-nav li {
 padding-right: 20px;
}

.nav-link {
 font-size: 1.1em !important;
 /* font size on navbar */
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

/* Clock  */

.clock {
 /* text-decoration: underline; */
 color: white;
 letter-spacing: -0.8px;
 font-size: 1.5em;
}

/* Welcome Section customisation */

.welcome {
 width: 75%;
 margin: 0 auto;
 padding-top: 2rem;
}

.welcome hr {
 border-top: 2px solid #b4b4b4;
 width: 95%;
 margin-top: 0.3rem;
 margin-bottom: 1rem;
}

/* 4 Column Section customisation */

/* Icons */

.fa-html5 {
 color: #e44d26;
}

.fa-bootstrap {
 color: #563d7c;
}

.fa-hands-helping,

.fa-css3,
.fa-glass-whiskey {
 color: #2163af;
}

.fa-node-js {
 color: #3c873a;
}

.fa-font-awesome,
.fa-tint {
 color: #1664bd;
}
.fa-file-download{
    color: gray;
}

.fa-temperature-low{
    color: rgba(235, 235, 20, 0.89);
}

.fa-check-square{
    color: green;
}

.fa-map-marker-alt{
    color: red;
}

.fa-tint{
    color: blue;
}

.fa-html5,
.fa-bootstrap,
.fa-css3,
.fa-node-js,
.fa-font-awesome,
.fa-medrt,
.fa-lightbulb,
.fa-glass-whiskey {
 font-size: 4em;
 margin: 0.3em;
}

/* Social media  */

.social a {
 font-size: 4.5em;
 padding: 3rem;
}

/* Icons customisation */

.fa-blog {
 color: #ff5722;
}

.fa-github {
 color: #333;
}

.fa-youtube,
.fa-medrt {
 color: #ff0000;
}

/* Footer  */

footer {
 background-color: #3f3f3f;
 color: #d5d5d5;
 padding-top: 2rem;
}

hr.light {
 border-top: 1px solid #d5d5d5;
 width: 75%;
 margin-top: 0.8rem;
 margin-bottom: 1rem;
}

/*---Media Queries --*/

@media (max-width: 992px) {
 /* Social media icons are smaller on smaller screen */
 .social a {
  font-size: 4em;
  padding: 2rem;
 }
}

@media (max-width: 768px) {
 .display-4 {
  font-size: 200%;
  /* doesn't work ;c */
 }
}

@media (max-width: 576px) {
 /* Social media icons are smaller on smaller screen */
 .social a {
  font-size: 2.5em;
  padding: 1.2rem;
 }
 .display-4 {
  font-size: 160%;
  /* doesn't work ;c */
 }
 .clock {
  font-size: 1.2em;
 }
}

/*---Firefox Bug Fix --*/

.carousel-item {
 transition: -webkit-transform 0.5s ease;
 transition: transform 0.5s ease;
 transition: transform 0.5s ease, -webkit-transform 0.5s ease;
 -webkit-backface-visibility: visible;
 backface-visibility: visible;
}

/*--- Fixed Background Image --*/

figure {
 position: relative;
 width: 100%;
 height: 60%;
 margin: 0 !important;
}

.fixed-wrap {
 clip: rect(0, auto, auto, 0);
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

#fixed {
 background-image: url("img/mac.png");
 position: fixed;
 display: block;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-size: cover;
 background-position: center center;
 -webkit-transform: translateZ(0);
 transform: translateZ(0);
 will-change: transform;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*--- Bootstrap Padding Fix --*/

[class*="col-"] {
 padding: 1rem;
}
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
