<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BadAiR</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="./css/style.css" rel="stylesheet" type="text/css"></link>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.8.0/js/all.js"></script>
    <!-- Social media icons -->

    <script type="text/javascript" src="js/clock.js"></script>

</head>

<body>

    <!-- Navigation -->

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- 
		navbar-expand-md -  md - breakpoint(768px mobile dev navigation)
		navbar-light bg-light - white background nav, dark text
		sticky-top - sticks to top i guess
		-->
        <a class="navbar-brand nav-item" href="index.html"><img src="img/BadAiR_200x200.png" alt="logo" style="width:90px"></a>

        <div id="clock_id" class="clock">
                <span id="hr">00</span>
                <span> : </span>
                <span id="min">00</span>
                <span> : </span>
                <span id="sec">00</span>
            </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<!-- navbar-toggler - toggle switch for navigation
			data-toggle="collapse" - navigation will be collapsing
			collapsibleNavbar - custom div -->
			<span class="navbar-toggler-icon"></span>
		</button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <!-- ml-auto - pushes navigation items to the right side -->

                <!-- Navigation buttons -->
                <li class="nav-item ">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="product.html">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="readings.html">Readings</a>
                </li>

            </ul>
        </div>
    </nav>
    <br>

    <div class="container">

    </div>

</body>

</html>


<!--- Welcome Section -->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">About</h1>
            <!-- Main title -->
        </div>
        <hr>
        <div class="col-12">
            <p class="lead">This project was created for the purpose of taking care of our environment.</p>
        </div>

    </div>

</div>

<!--- Column Section - technologies that project offers -->
<div class="container-fluid padding">
    <div class="row text-center justify-content-center mx-auto padding ">

        <!-- 
		text-center - center text
		mx-auto - center column
		-->

        <!-- Technologies used with usage of font awsome  - add details what each tech do?-->
        <div class="col-xs-12 col-sm-6  col-md-4 ">
            <i class="fas fa-map-marker-alt fa-5x"></i>
            <h3>Position </h3>
            <p>Monitor position of geting readings</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4  ">
            <i class="fas fa-temperature-low fa-5x"></i>
            <h3>Temperature</h3>
            <p> Chceck temperature near chemny</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4  ">
            <i class="fas fa-tint fa-5x"></i>
            <h3> Humility </h3>
            <p> </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4  ">
            <i class="fas fa-wind fa-5x"></i>
            <h3> Presure </h3>
            <p> </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4  ">
            <i class="far fa-check-square fa-5x"></i>
            <h3>Air quality</h3>
            <p> Check condense and quality air near chimney </p>
        </div>

    </div>
    <hr class="my-4">
    <!-- Light grey horizontal line on whole page-->
</div>

<!--- Welcome Section -->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <p class="lead">Technologies used to create website</p>
        </div>
    </div>
</div>

<!--- 4 Column Section - technologies used to do the website, add font awsome? -->
<div class="container-fluid padding">
    <div class="row text-center justify-content-center mx-auto padding ">
        <!-- 
		text-center - center text
		mx-auto - center column

		-->

        <!-- Technologies used with usage of font awsome  - add details what each tech do?-->
        <div class="col-xs-12 col-sm-6 col-md-4  ">
            <i class="fab fa-html5 "></i>
            <h3>HTML5</h3>
            <p>Build with latest version of HTML, HTML5 </p>
        </div>
        <div class="col-xs-12 col-sm-6  col-md-4 ">
            <i class="fab fa-bootstrap"></i>
            <h3>BOOTSTRAP</h3>
            <p>Build with latest version of Bootstrap , Bootstrap v4.4.1</p>
        </div>
        <div class="col-xs-12 col-md-4">
            <i class="fab fa-css3"></i>
            <h3>CSS3</h3>   
            <p>Build with latest version of CSS, CSS3</p>
        </div>
        <div class="col-xs-12 col-md-4 ">
            <i class="fab fa-node-js"></i>
            <h3>Node.js</h3>
            <p>Build with latest version of Node.js, Node.js v14.10.1</p>
        </div>
        <div class="col-xs-12 col-md-4 ">
            <i class="fab fa-font-awesome"></i>
            <h3>Font Awsome</h3>
            <p>Build with latest version of Font Awsome, Font Awsome v5.15.1</p>
        </div>


    </div>
    <hr class="my-4">
    <!-- Light grey horizontal line on whole page-->
</div>

<!--- Connect - add link to blog and sth else-->
<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-12">
            <h3>Find us on: </h3>

        </div>
        <div class="col-12 social padding">
            <!-- Usage of font awsome (Icons) class = fas fa-blog   -->
            <a href="https://github.com" target="_blank"><i class="fab fa-github" ></i></a>
            <a href="https://gitlab.com" target="_blank"><i class="fab fa-gitlab" ></i></a>
            <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>

            <!-- target="_blank" - opens in new window -->
        </div>
    </div>
</div>

<!--- Footer - stuff to write in the bottom part -->
<footer>
    <div class="container-fluid padding ">
        <div class="row text-center ">
            <div class="col-md-4">
                <a class="nav-link" href="index.html"><img src="img/BadAiR_200x200.png" alt="logo" style="width:90px; height:75px"></a>
                <hr class="light">
                <p>BadAir - Michał Matysiak</p>
                <p>44-100 Gliwice</p>
                <p>+48 xxx-xxx-xxx</p>
                <p>contact@BadAiR.pl</p>
            </div>

            <div class="col-md-4">
                <a href="https://www.polsl.pl/Strony/Witamy.aspx" target="_blank"><img src="img/polsl_logo.png" alt="logo" style="width:75px"></a>
                <hr class="light">
                <p>Politechnika Śląska</p>
                <p>44-100 Gliwice</p>
                <p>+48 xxx-xxx-xxx</p>
                <p>contact@polsl.pl</p>
            </div>

            <div class="col-md-4">
                <img src="img/Work_with.png" alt="logo" style="width:100px">
                <p>Work with</p>
                <hr class="light">
                <p>Botland</p>
                <p>Allego</p>
                <p>Aliexpres</p>
            </div>
            <div class="col-12 ">
                <hr class="light ">
                <h5>&copy; BadAiR.pl</h5>
            </div>
        </div>
    </div>
</footer>





</body>

</html>

<!-- 

auto format - Shift + Alt + F.

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
 -->