<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BadAiR</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="./css/style.css" rel="stylesheet" type="text/css"></link>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.8.0/js/all.js"></script>
    <!-- Social media icons -->

    <script type="text/javascript" src="js/clock.js"></script>
    <script type="text/javascript" src="/js/main_script.js"></script>

</head>

<body>

    <!-- Navigation -->

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- 
		navbar-expand-md -  md - breakpoint(768px mobile dev navigation)
		navbar-light bg-light - white background nav, dark text
		sticky-top - sticks to top i guess
		-->
        <a class="navbar-brand nav-item" href="index.html"><img src="img/BadAiR_200x200.png" alt="logo" style="width:90px"></a>
        <!-- logo display and go back to home  -->

        <div id="clock_id" class="clock">
                <span id="hr">00</span>
                <span> : </span>
                <span id="min">00</span>
                <span> : </span>
                <span id="sec">00</span>
            </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<!-- navbar-toggler - toggle switch for navigation
			data-toggle="collapse" - navigation will be collapsing
			collapsibleNavbar - custom div -->
			<span class="navbar-toggler-icon"></span>
		</button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <!-- ml-auto - pushes navigation items to the right side -->

                <!-- Navigation buttons -->
                <li class="nav-item ">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="product.html">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="readings.html">Readings</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>

    <div class="container">

    </div>

</body>

</html>


<!--- Welcome Section -->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Product gallery</h1>
            <!-- Main title -->
        </div>
        <hr>
    </div>
   
</div>

<!--- 4 Column Section - technologies used to do the website, add font awsome? -->
<div class="container-fluid padding">

<!-- Slideshow container -->
<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <div class="numbertext">1 / 13</div>
      <img src="imageGallery/img1.png" style="width:100%">
      <div class="text">Caption Text</div>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">2 / 13</div>
      <img src="imageGallery/img2.png" style="width:100%">
      <div class="text">Caption Two</div>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">3 / 13</div>
      <img src="imageGallery/img3.png" style="width:100%">
      <div class="text">Caption Three</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">4 / 13</div>
        <img src="imageGallery/img4.png" style="width:100%">
        <div class="text">Caption Three</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">5 / 13</div>
        <img src="imageGallery/img5.JPG" style="width:100%">
        <div class="text">Caption Text</div>
      </div>
    
      <div class="mySlides fade">
        <div class="numbertext">6 / 13</div>
        <img src="imageGallery/img6.jpg" style="width:100%">
        <div class="text">Caption Two</div>
      </div>
    
      <div class="mySlides fade">
        <div class="numbertext">7 / 13</div>
        <img src="imageGallery/img7.png" style="width:100%">
        <div class="text">Caption Three</div>
      </div>
  
      <div class="mySlides fade">
          <div class="numbertext">8 / 13</div>
          <img src="imageGallery/img8.png" style="width:100%">
          <div class="text">Caption Three</div>
      </div>
    
      <div class="mySlides fade">
        <div class="numbertext">9 / 13</div>
        <img src="imageGallery/img9.png" style="width:100%">
        <div class="text">Caption Text</div>
      </div>
    
      <div class="mySlides fade">
        <div class="numbertext">10 / 13</div>
        <img src="imageGallery/img10.png" style="width:100%">
        <div class="text">Caption Two</div>
      </div>
    
      <div class="mySlides fade">
        <div class="numbertext">11 / 13</div>
        <img src="imageGallery/img11.png" style="width:100%">
        <div class="text">Caption Three</div>
      </div>
  
    <div class="mySlides fade">
        <div class="numbertext">12 / 13</div>
        <img src="imageGallery/img12.png" style="width:100%">
        <div class="text">Caption Three</div>
      </div>
      
    <div class="mySlides fade">
        <div class="numbertext">13 / 13</div>
        <img src="imageGallery/img13.png" style="width:100%">
        <div class="text">Caption Three</div>
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  
  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
    <span class="dot" onclick="currentSlide(6)"></span>
    <span class="dot" onclick="currentSlide(7)"></span>
    <span class="dot" onclick="currentSlide(8)"></span>
    <span class="dot" onclick="currentSlide(9)"></span>
    <span class="dot" onclick="currentSlide(10)"></span>
    <span class="dot" onclick="currentSlide(11)"></span>
    <span class="dot" onclick="currentSlide(12)"></span>
    <span class="dot" onclick="currentSlide(13)"></span>
  </div>

</div>
<hr class="my-4">
<!-- Light grey horizontal line on whole page-->
</div>


<!--- Connect - add link to blog and sth else-->
<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-12">
            <h3>Find us on: </h3>

        </div>
        <div class="col-12 social padding">
            <!-- Usage of font awsome (Icons) class = fas fa-blog   -->
            <a href="https://github.com" target="_blank"><i class="fab fa-github" ></i></a>
            <a href="https://gitlab.com" target="_blank"><i class="fab fa-gitlab" ></i></a>
            <a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>

            <!-- 
		target="_blank" - opens in new window
		 -->
        </div>
    </div>
</div>

<!--- Footer - stuff to write in the bottom part -->
<footer>
    <div class="container-fluid padding ">
        <div class="row text-center ">
            <div class="col-md-4">
                <a class="nav-link" href="index.html"><img src="img/BadAiR_200x200.png" alt="logo" style="width:90px; height:75px"></a>
                <hr class="light">
                <p>BadAir - Michał Matysiak</p>
                <p>44-100 Gliwice</p>
                <p>+48 xxx-xxx-xxx</p>
                <p>contact@BadAiR.pl</p>
            </div>

            <div class="col-md-4">
                <a href="https://www.polsl.pl/Strony/Witamy.aspx" target="_blank"><img src="img/polsl_logo.png" alt="logo" style="width:75px"></a>
                <hr class="light">
                <p>Politechnika Śląska</p>
                <p>44-100 Gliwice</p>
                <p>+48 xxx-xxx-xxx</p>
                <p>contact@polsl.pl</p>
            </div>

            <div class="col-md-4">
                <img src="img/Work_with.png" alt="logo" style="width:100px">
                <p>Work with</p>
                <hr class="light">
                <p>Botland</p>
                <p>Allego</p>
                <p>Aliexpres</p>
            </div>
            <div class="col-12 ">
                <hr class="light ">
                <h5>&copy; BadAiR.pl</h5>
            </div>
        </div>
    </div>
</footer>

<script>

var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}

</script>




</body>

</html>

<!-- 

auto format - Shift + Alt + F.

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
 -->